#root{
    text-align: center;
        background: url(micBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        background-color:black;
        opacity: 1;    
}