.App {
  text-align: center;
}

audio { 
  /* width: 600px;  */
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
  padding: 5px;
}


figure {
  padding: 5px;
}

.audioBook {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  }
  
.audioBook:hover {
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -o-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.09);
  }


#wrapper { 
    position:absolute;
    height:100%;
    width:100%;
}

#audioBook{
  position:relative;
  height:100%;
  min-height:100%;
  width:100%;
  z-index:1000;
  margin-top: 100vh;

}

.panels { 
  position:relative;
  height:100%;
  min-height:100%;
  width:100%;
  z-index:1000;
  margin-top: 100%;
}

/* //test */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
